.motionRoot {
    position: fixed;
    z-index: 10;
}

.root {
    padding: rem(8) rem(14);
}

.btnLabel {
    color: var(--mantine-color-white);
}

.btnLabelDark {
    color: var(--mantine-color-gray-7)
}

.btnLabelInactive {
    font-weight: 200;
}